body {
    display: grid;
    place-items: center;
}
.container {
    width: 100vh;
    height: 100vh;
}

/* 로그인 페이지 */
.titleIcon {
    width: min-content;
    margin: 100px auto 50px;
}
.titleIcon img {
    width: 120px;
}
.login-form {
    width: 100%;
    display:grid;
    place-items: center;
}
.input-wrapper {
    position: relative;
    width: 45%;
    /* margin-bottom: 20px; */
}
.login-form input {
    box-sizing: border-box;
    border: 1px solid #A7A7A7;
    border-radius: 30px;
    /* height: 45px; */
    width: 100%;
    margin: 10px;
    transition: border-color 0.4s linear;
    padding: 20px 18px;
    font-size: 14px;
}
.input-wrapper label {
    position: absolute;
    top: 26px;
    left: 40px;
    color: #A7A7A7;
    font: 16px;
}
input:focus ~ label,
input:not(:placeholder-shown) ~ label {
    top: 14px;
    left: 30px;
    font-size: 10px;
    color: #a7a7a7;
  }
.login-form input:focus {
    outline: none;
    padding: 20px 18px;
    border-color: #3F6ABE;
    border-width: 2px;
}
.login-form input::placeholder {
    color: #A7A7A7;
}
.login-form input:focus::placeholder {
    font-size: 8px;
    top: 2px;
    left: 2px;
}
.login-form button {
    border: none;
    padding: 20px 18px;
    width: 100%;
    border-radius: 30px;
    box-sizing: border-box;
    margin: 10px;
    background-color: #A7A7A7;
    color: #fff;
    font-size: 18px;
    font-weight: 700;
    transition: background-color .2s linear;
}
.login-form button.active {
    background-color: #3F6ABE;
}